<textformat>
<p align="center"><font size="13" color="#E2D2A2">ModCore by <b>Driftkings</b></font></p>
<font color="#E2D2A2">New verion available: </font><font color="#98FB98">{version}</font>
<font color="#E2D2A2">Update date: </font><font color="#98FB98">{date}</font>
<font color="#E2D2A2"><b>What's new</b>:</font><ol>
<li>Updated for 1.11.1.1 #1 version;</li><li>Added DamagePanel by Zayaz;</li><li>Added Chuck Norris voice pack.</li>
<p align="center"><font size="13" color="#FF0000"><b>Required Update!</b></font></p><br>
</ol></textformat>